<h2>Data, Science, Data Science</h2>
<p>Data - facts, statistics, information, and ambiguously plural word<br> 
Science - studies, observations, and knowledge of the natural world<br>
<br>
Data + Science = magic<br>
<br>
<p>
..sometimes</p>
 </p>

<hr />
<!--
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/mykoz">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://excentris.net">The Author</a>
  </li>
</ul>
-->
{% include social_links.html %}

